body {
    background: url('../../Resources/shopping-background.jpg') no-repeat center fixed;
    background-size: cover;;
}

.back-image {
    background: url('../../Resources/back.jpg') no-repeat center fixed;
    width:32px;
    height: 32px;
    display: block;

}

.form-group {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

.offer-container {
    padding:5px;
    border-bottom:solid 1px #ddd;
    margin-bottom: 5px;
}

.choose-item {
    padding-left: 5px;
    margin-left: 20px;
}
.choose-item h5 {
    font-size: 1rem !important;
}
.choose-item label {

    margin-left: 5px;
}

.feedback-container lable {
    float:left;
    clear:left;
    width:200px;

}

.feedback-container div {
    padding:5px;
    border-bottom:solid 1px #ddd;
    margin-bottom: 5px;
}
#orderDetailsTable {
    margin-top:20px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
#orderDetailsTable table {
    width: 100%;
}
.total-amount{
    background-color: #fff;
    padding: 30px;
    font-size: 30px;
}