body {
	background: url('../../Resources/shopping-background.jpg') no-repeat center fixed;
	background-size: cover;;
}


/*
.user-list {
	width:200px;
	border:solid 1px #ccc;
	padding:5px;
}
.user-list li {
	padding: 7px;
	font-size: 24px;
	margin: 2px;
}
.user-list li span {
	font-size: 15px;
	float: right;
	font-style: italic;
	background-color: #eee;
	padding: 4px;
}
*/


/*
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; !* Ensure div tag stays behind content; -999 might work, too. *!
}
*/

.stretch {
    width:100%;
    height:100%;
}

h1 {
	font-family:Arial;
	font-size:100%;
	color: #4f62d4e3;
}

h4 {
	font-size: 24px;

}

/*h2 {
	font-size: 16px;
	color: #33334d
}*/

.leftcolumn{
	width: 100%;
	height: 100%;
	position:fixed;
	top:5%;
	left:85%;
	right: 5%;
// color: #7575a3;
	float: left;
}
/*

.centercolumn {
        width: 60%; 
        height: 100%; 
        position:fixed; 
        top:55%; 
	left: 15%;
        text-align: center;
	color: #7575a3;
}
        

        
.center {
        width: 100%;
        font-size: 15px;
        text-align: center;
	margin-left: 10%;
	color: #7575a3;
}
        
        
.middle {
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 0%;
		color: #47476b;
		text-decoration: underline;
}
        
.up,.down {
        position: fixed;
        left: 0%;
        right: 0%;
        height: 50%;
}
        

.down {
	bottom:0%;
}
*/

.up {
	top:0%;
	text-align: center;
	font-size: 60px;
}
.rightcolumn {
	width: 100%;
	height: 100%;
	position:fixed;
	top:5%;
	left:85%;
	right: 5%;
// color: #7575a3;
	float: right;
}

table {
  	border-collapse: collapse;
	width: 100%;
	color: #d9d9d9;
	background-color: black;
}

table, th, td {
      	border: 1.5px solid #d9d9d9;
		border-radius: 1em;
		overflow: hidden;
}

.up2 {
	width: 60%; 
        height: 100%; 
        position:fixed; 
        top:25%; 
        left:15%;
        text-align: center;
}

.userImage {
  	border: 2px solid #47476b;
  	border-radius: 4px;
  	padding: 10px;
  	width: 10%;
	margin-left: 5px;
}

.button {
	box-shadow: 0px 5px 14px -7px #276873;
	background:linear-gradient(to bottom, #f0f0f5 5%, #9494b8 100%);
	background-color:#29293d;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Aharoni;
	font-size:12px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.button:hover {
	background:linear-gradient(to bottom, #9494b8 5%, #f0f0f5 100%);
	background-color:#29293d;
}
.button:active {
	position:relative;
	top:1px;
}


.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 14px;
    width: 100%;
    
}

.f90-logout-button {
	font-size:10px;
	color: #34344c
}

.notifications.h4 {
	font-size: 15px;
	text-decoration: underline;
}

.notifications {
	font-size: 12px;
	color: #28283e;
	background-color: #c2c2d6;
	border: 1px solid #28283e;
	margin-left: 20%;
	margin-right: 20%;
}

.outside {
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
}


.menu-container {

}


/*
=====
DEPENDENCES
=====
*/

/* reset browser's styles of links https://github.com/melnik909/r-link */
.r-link{
	display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
	color: var(--rLinkColor) !important;
	text-decoration: var(--rLinkTextDecoration, none) !important;
}

/* reset browser's styles of the ul https://github.com/melnik909/r-list */

.r-list{
	padding-left: var(--rListPaddingLeft, 0) !important;
	margin-top: var(--rListMarginTop, 0) !important;
	margin-bottom: var(--rListMarginBottom, 0) !important;
	list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu{
	--rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link{
	display: var(--menuLinkDisplay, block);
}

/*
focus state
*/

.menu__link:focus{
	outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
	outline-offset: var(--menuLinkOutlineOffset);
}

/*
fading siblings
*/

.menu:hover .menu__link:not(:hover){
	--rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu{
	background-color: var(--menuBackgroundColor, #f0f0f0);
	box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
	display: flex;
}

.menu__link{
	padding: var(--menuLinkPadding, 1.5rem 2.5rem);
	font-weight: 700;
	/*text-transform: uppercase;*/
}

/*
=====
TEXT UNDERLINED
=====
*/

.text-underlined{
	position: relative;
	overflow: hidden;

	will-change: color;
	transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after{
	content: "";
	width: 0;
	height: 3px;
	background-color: var(--textUnderlinedLineColor, currentColor);

	will-change: width;
	transition: width .1s ease-out;

	position: absolute;
	bottom: 0;
}

.text-underlined::before{
	left: 50%;
	transform: translateX(-50%);
}

.text-underlined::after{
	right: 50%;
	transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after{
	width: 100%;
	transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
	--menuBackgroundColor: #6c5ce7;
	--menuLinkColor: #fff;
	--menuLinkColorUnactive: #241c69;
	--menuLinkOutlineOffset: -.5rem;
}




.table-container {
	width:30%;
	margin-right: auto;
	margin-left: auto;
}